@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

/*For mobile view*/

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.headbar {
    background-color: lightskyblue;
    padding: 1em;
    margin-bottom: 0.2em;
}

.structure {
    display: grid;
    grid-template-columns: 2fr 8fr;
    grid-gap: 1em;
}

.contact-section {
    background-color: lightsalmon;
}

.searchbox {
    background-color: lightgrey;
    margin-bottom: 1em;
}

.searchnav {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 0;
    text-decoration: none;
}

.searchnav input[type=text] {
    padding: 6px;
    font-size: 17px;
    border: none;
}

.search-container button {
    padding: 6px 9px;
    /* margin-right: 16px; */
    background: gray;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

.searchnav .search-container button:hover {
    background: gray;
}

.contacts {
    padding: 1em;
}

.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 1em;
    margin: 1em 1em;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 3em;
    width: 100%;
    margin-right: 1em;
    border-radius: 50%;
}

.container img.right {
    float: right;
    margin-left: 1em;
    margin-right: 0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}