@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i&display=swap');

/*For mobile view*/

* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.headbar {
    background-color: lightskyblue;
    padding: 1em;
    margin-bottom: 0.2em;
}

.structure {
    display: grid;
    grid-template-columns: 3fr 8fr;
    grid-gap: 1em;
}

.contact-section {
    background-color: lightsalmon;
    padding: 1em;
}

.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 1em;
    margin: 1em 0;
}

.darker {
    border-color: #ccc;
    background-color: #ddd;
}

.container::after {
    content: "";
    clear: both;
    display: table;
}

.container img {
    float: left;
    max-width: 3em;
    width: 100%;
    margin-right: 1em;
    border-radius: 50%;
}

.container img.right {
    float: right;
    margin-left: 1em;
    margin-right: 0;
}

.time-right {
    float: right;
    color: #aaa;
}

.time-left {
    float: left;
    color: #999;
}